@model Absa.Web.Models.ApplicationModel

@{
    ViewBag.Title = "RequestApproved";
}
@using (Html.BeginForm("UpdateRequestApproved", "Home", FormMethod.Post, new { id = "formDecline" }))
{
	<div>
		@Html.HiddenFor(model => model.ResilienceID, new { id = "resilienceTrackID" })
		<p>Busines Unit  : @Html.DisplayFor(model => model.BusinessUnit)</p>
		<p>Application ID : @Html.DisplayFor(model => model.ApplicationId)</p>
		<br>
		<br>
		<div class="form-row">
			<div class="form-group col-md-6">
				<input type="submit" value="Submit" class="btn btn-circle btn-success btn-lg btn-block"  return false" /> 
			</div>
		</div>
	</div>
}