@model IEnumerable<Absa.Web.Models.RolePermissionsModel>

@{
    ViewBag.Title = "Index";
}
<style>
	.div{
       float:right;
   }
</style>
<p>
	<div class="div" id="create">
		<button class="Create btn btn-sm btn-circle btn-success" type="button" id="create" href="javascript:;">CREATE ROLE PERMISSION</button>
	</div>
</p>
<br>
<br>
<table class="table">
    <tr>
        <th>
            Role & Permission Type
        </th>
		<th>
			Description
		</th>
        <th>
			Date Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
			@Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
			@Html.DisplayFor(modelItem => item.DateLogged)
        </td>
        <td>
			<div id="create">
				<button class="Create btn btn-sm btn-circle btn-primary" type="button" id="create" href="javascript:;">MODIFY</button>
			</div>
        </td>
    </tr>
}

</table>
