@model Absa.Web.Models.ReportModel
@{
	ViewBag.Title = "DashBord";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
	div.light {
		width: 50px;
		height: 50px;
		background-color: green;
	}
</style>

<h3>Report</h3>
<br>
<div class="card w-100">
	<div class="card-body">
		<h5 class="card-title">Business Unit</h5>
		@using (Html.BeginForm())
		{
			@Html.DropDownListFor(model => model.BusinessUnit, Model.BusinessUnitList, new { @class = "form-control", id = "businessUnit" })
			<br />
			<input type="submit" value="Search" class="btn btn-danger" />
		}
	</div>
</div>
<div align="center">
	@Html.Partial("Report")
</div>