
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinglePointOfFailure</title>
</head>
<body>
    <div> 
		Single Point Of Failure
    </div>
</body>
</html>
